@page
@model BoatStation.Pages.Reception.ConfirmCreateContract

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Выдача плав. средства</title>
</head>
<body>
<h3>Выдать плав. средство</h3>
<div>
    <form method="post" class="form-group">
        <label for="dur">Продолжительность аренды</label>
        <input type="text" asp-for="UseDurationInMinutes" id="dur" class="form-control w-25"/>
        <input type="hidden" name="clientId" value="@Model.ClientId"/>
        <input type="hidden" name="watercraftId" value="@Model.WatercraftId"/>
        <input type="hidden" name="briefingId" value="@Model.BriefingId"/>
        <input type="submit" asp-page-handler="CreateContract" id="btn-submit" value="Выдать"/>
    </form>
</div>
</body>
</html>