@using DbLab4.Models
@model DbLab4.Pages.Index

@if (Model.SelectInnerJoinResults.Count != 0)
{
    <p>Select Inner Join Result</p>
    <table class="flex-item">
        <thead>
        @foreach (var prop in typeof(SelectInnerJoin).GetProperties())
        {
            <th>@prop.Name</th>
        }
        </thead>
        <tbody>
        @foreach (var result in Model.SelectInnerJoinResults)
        {
            <tr>
            @foreach (var prop in result.GetType().GetProperties())
            {
                 <td>@prop.GetValue(result)</td>
            }
            </tr>
        }
        </tbody>
    </table>
}